{% extends 'base.html.twig' %}

{% block title %}UGSEL Web{% endblock %}

{% block body %}
    <link href="../../public/css/home.css" rel="stylesheet" />

    <table Class = 'tabledeb'>
        <tr Class = 'trdeb'>
            <td Width = '90%'>&nbsp; UGSEL Web &nbsp;&nbsp; Base de lancement &nbsp;&nbsp;</td>
            <td Width = '10%' Align = 'Center'></td>
        </tr>
    </table>
    <table bgcolor='aliceblue' bordercolor='darkblue' bordercolordark = 'darkblue' bordercolorlight = 'darkblue' border='2' rules ='none' cellpadding='0' cellspacing='0' width='100%' height='80%'>
        <tr><td Height = '10px' Colspan = 5></td></tr>
        <tr>
            <td Width = '35%' Rowspan = '5' Align = 'Center' Style = 'padding:0px 20px 0px 20px;'>
                <a href="http://www.ugsel.org" class="img-lien"> <img src="./_logos/logoun.gif" height="150" width="150" alt =''>&nbsp;</a>
            </td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./als"> Alsace               </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./lyo"> Lyonnais             </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./aqu"> Aquitaine            </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./mid"> Midi Pyrénées        </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./auv"> Auvergne Limousin    </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./nvc"> Nice Var Corse       </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./bou"> Bourgogne            </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./npc"> Nord Pas de Calais   </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./bzh"> Bretagne             </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./nrm"> Normandie            </a></td>
        </tr>

        <tr>
            <td Width = '35%' Rowspan = '6' Align = 'center' Valign = 'Top' Style = 'padding:0px 20px 0px 20px;' ><i><br><b>Bienvenue dans UGSEL Web <br><br> L'espace d'inscription aux compétitions Ugsel</b><!--ff9df8--><!--/ff9df8-->
                    <Font size='2'><BR><BR><br>Accédez à l'Ugsel Régionale de votre choix en cliquant sur son nom...</FONT></I><BR><BR></TD>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./cen"> Centre               </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./par"> Paris                </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./cha"> Champagne Ardennes   </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./pdl"> Pays de Loire        </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./dau"> Dauphiné Savoie      </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./pic"> Picardie             </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./fra"> Franche Comté        </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./poi"> Poitou Charentes     </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./lan"> Languedoc Roussillon </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./pro"> Provence             </a></td>
        </tr>
        <tr>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./lor"> Lorraine             </a></td>
            <td Class = 'tddetail' Align = 'Right'> <img src = "./_logos/logoun.gif"  height="30" width="30" alt =''></td> <td Class = 'tddetail'> &nbsp <a href="./ver"> Versailles           </a></td>
        </tr>
        <tr><td Height = '10px' Colspan = 5></td></tr>
    </table>
    <table Class = 'tablefin'>
        <tr Class = 'trfin'>
            <td Width = '80%' >&nbsp; UGSEL Web &nbsp;&nbsp; Base de lancement &nbsp;&nbsp;</td>
            <!-- <td Width = '20%' Align ='Right' ><Font size='1'><a href="./zzz">-> Formation ...&nbsp;&nbsp;</a></Font></td>-->
        </tr>
    </table>
{% endblock %}
